#text-header {
    color: red;
}
#header {
    display: flex;
    align-items: center;
}


.item {
    margin: 0 20px;
    position: relative;
}

#logo {
    width: 8vw;
    margin-left: 100px !important;
}
span {
    width: 30vw;
}

svg {
    position: absolute;
    right: 10px;
    top: 8px;
}

svg:hover {
    scale: 1.1;
    cursor: pointer;
}

#search-input {
    /* height: 36px; */
    width: 20vw;
    padding: 4px 6px;
    border: 1px solid #d9d9d9;
    line-height: 1.5715;
    border-radius: 20px;
}

#search-input:hover {
    border-color: lightblue;
}