.dashboard-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.dashboard-body {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #F0F2F5;
}

.loading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loadingLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.loader {
    margin: auto;
    border: 10px solid #EAF0F6;
    border-radius: 50px;
    border-top: 10px solid gray;
    width: 100px;
    height: 100px;
    animation: spinner 5s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}