@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');  
  
  /* Main  */  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .main-title {
    margin-top: 0 !important;
    padding: 0 !important;
    /* display: flex; */
    /* justify-content: space-between; */
    font-size: 20px;
    color: #015C92;
    text-align: center;
  }
  
  .main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 10px;
    margin-bottom: 20px !important;
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 10px;
    color: #2D83B5;
    height: 100%;
  }
  .cards h1 {
    margin: 10px 0 !important;
    font-size: 30px;
  }
  .cards:first-child {
    background-image: linear-gradient(to right, #5DC4B8, #B5E0D6);
  }
  
  .cards:nth-child(2) {
    background-image: linear-gradient(to right, #F39292, #FACDCD);
  }
  
  .cards:nth-child(3) {
    background-image: linear-gradient(to right, #B19CD9, #D9C9E6);
  }
  
  .cards:nth-child(4) {
    background-image: linear-gradient(to right, #F8D476, #FCECC5);
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
    position: relative;
  }
  
  .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
  }
  
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }