#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-signIn {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: navy;
    width: 400px;
    height: 300px;
    opacity: 0.85;
}

#container-signIn h1 {
    font-family:sans-serif;
    text-align: center;
    color: white;
}

#container-signIn input {
    background-color: rgba(white, .5);
    width: 250px;
    height: 30px;
    border-radius: 20px;
    margin-bottom: 10%;
}

#poster {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F8F8FF;
    width: 400px;
    height: 300px;
    opacity: 0.8;
}

#poster h1 {
    font-weight: bolder;
    font-family:sans-serif;
    text-align: center;
    color: navy;
    margin-top: 20%;
}

#poster p {
    font-style: italic;
    text-align: center;
    color: navy;
}