#list {
    display: flex;
    justify-content: space-evenly;
}

#list #student {
    display: flex;
    flex-direction: column;
}

#list #student p {
    text-align: center;
    size: 20px;
}

#avt1 {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}